*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a{
    font-family: Oswald;
    font-weight: 600;
    font-size: 24px;
    color: #222222;    
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

header{
    background-color: rgba(245, 245, 245, 1);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: rgba(214, 214, 214, 0.5) 0 1px;
}

.logolist{
    display: flex;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
    justify-content: center;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #ff711f;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

img{
   display: grid;
   margin-left: 5px;
   margin-top: auto;
}

.divider{
    border-left: 1px solid #d1d1d1;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.text-1{
    font-size: 32px;
    color: black;
    fill: #ff711f;
    stroke-opacity: 0;
    stroke: #000000; 
    stroke-width: 0;
    stroke-linecap: square;
    stroke-linejoin: bevel;
    font-family: Oswald;
    font-stretch: normal;
    font-weight: 600;
    kerning: 0;
    letter-spacing: 0;
    text-anchor: middle;
    word-spacing: 0;
    display: inline-block;
    
    transition: all .1s ease-in;
}
.text-1:hover{
    color: #ff711f;
    text-decoration: none; 
}

.text-2{
    font-size: 32px;
    color: black;
    stroke-opacity: 0;
    stroke: #000000; 
    stroke-width: 1;
    stroke-linecap: square;
    stroke-linejoin: bevel;
    font-family: Oswald;
    font-stretch: normal;
    font-weight: 300;
    kerning: 0;
    letter-spacing: 0;
    text-anchor: middle;
    word-spacing: 0;
    display: inline-block;
    
    transition: all .1s ease-in;
}
.text-2:hover{
    color: #ff711f;
    text-decoration: none; 
}

h1{
    font-size:48;
    color: #222222;
    font-family: Oswald;
    font-weight: 600;
    margin: 0;
    text-align: center;
}
h2{
    font-size: 32;
    font-family: Oswald;
    font-weight: 400;
    margin: 0;
    color: #222222;
    text-align: center;
}

main{
    padding-top: 1px;
    margin-left: 50px;
    margin-right: 50px;
}

.orangebackground{
background-color: rgba(255, 113, 31,0.85);
display:block;
margin-left: -50;
margin-right: -50;
}

a{
    display: block;
}